@import "bootstrap-sprockets";
@import "bootstrap";


$light-gray       : #777;
$white            : #fff;
$gray-medium-light: #eaeaea;
$gray-darker      : #222;
$gray             : #555;


@mixin box_sizing {
    -moz-box-sizing   : border-box;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}

/* miscellaneous */
.debug_dump {
    clear     : both;
    float     : left;
    width     : 100%;
    margin-top: 45px;
    @include box_sizing;
}

/* universal */
body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;

    h1 {
        margin-bottom: 10px;
    }
}

body {
    padding-top: 60px;
}

.container {
    width: auto;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size     : 3em;
    letter-spacing: -2px;
    margin-bottom : 30px;
    text-align    : center;
}

h2 {
    font-size     : 1.2em;
    letter-spacing: -1px;
    margin-bottom : 30px;
    text-align    : center;
    font-weight   : normal;
    color         : $light-gray;
}

p {
    font-size  : 1.1em;
    line-height: 1.7em;
}

/* header */
#logo {
    float         : left;
    margin-right  : 10px;
    font-size     : 1.7em;
    color         : $white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top   : 9px;
    font-weight   : bold;

    &:hover {
        color          : $white;
        text-decoration: none;
    }
}

img {
    display: inherit;
}

/* footer */
footer {
    margin-top : 45px;
    padding-top: 5px;
    border-top : 1px solid $gray-medium-light;
    color      : $light-gray;

    a {
        color: $gray;

        &:hover {
            color: $gray-darker;
        }
    }

    small {
        float: left;
    }

    ul {
        float     : right;
        list-style: none;

        li {
            float      : left;
            margin-left: 15px;
        }
    }
}

@media (max-width: 800px) {
    footer {
        small {
            display      : block;
            float        : none;
            margin-bottom: 1em;
        }

        ul {
            float  : none;
            padding: 0;

            li {
                float      : none;
                margin-left: 0;
            }
        }
    }
}

/* sidebar */
aside {
    section.user_info {
        margin-top: 20px;
    }

    section {
        padding   : 10px 0;
        margin-top: 20px;

        &:first-child {
            border     : 0;
            padding-top: 0;
        }

        span {
            display      : block;
            margin-bottom: 3px;
            line-height  : 1;
        }

        h1 {
            font-size     : 1.4em;
            text-align    : left;
            letter-spacing: -1px;
            margin-bottom : 3px;
            margin-top    : 0px;
        }
    }
}

.gravatar {
    float       : left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}

.stats {
    overflow  : auto;
    margin-top: 0;
    padding   : 0;

    a {
        float      : left;
        padding    : 0 10px;
        border-left: 1px solid $gray-lighter;
        color      : gray;

        &:first-child {
            padding-left: 0;
            border      : 0;
        }

        &:hover {
            text-decoration: none;
            color          : blue;
        }
    }

    strong {
        display: block;
    }
}

.user_avatars {
    overflow  : auto;
    margin-top: 10px;

    .gravatar {
        margin: 1px 1px;
    }

    a {
        padding: 0;
    }
}

.users.follow {
    padding: 0;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
    border       : 1px solid #bbb;
    width        : 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;

    ul {
        color : red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;

    .form-control {
        color: $state-danger-text;
    }
}

.checkbox {
    margin-top   : -10px;
    margin-bottom: 10px;

    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width      : inherit;
    margin-left: 0;
}

/* Users index */
.users {
    list-style: none;
    margin    : 0;

    li {
        overflow     : auto;
        padding      : 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

/* microposts */
.microposts {
    list-style: none;
    padding   : 0;

    li {
        padding   : 10px 0;
        border-top: 1px solid #e8e8e8;
    }

    .user {
        margin-top : 5em;
        padding-top: 0;
    }

    .content {
        display    : block;
        margin-left: 60px;

        img {
            display: block;
            padding: 5px 0;
        }
    }

    .timestamp {
        color      : $gray-light;
        display    : block;
        margin-left: 60px;
    }

    .gravatar {
        float       : left;
        margin-right: 10px;
        margin-top  : 5px;
    }
}

aside {
    textarea {
        height       : 100px;
        margin-bottom: 5px;
    }
}

span.image {
    margin-top: 10px;

    input {
        border: 0;
    }
}

/*Chat*/
.chatbox-holder {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    height: 0;
}
  
.chatbox {
    width: 400px;
    height: 400px;
    margin: 0 20px 0 0;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-flow: column;
    border-radius: 10px 10px 0 0;
    background: white;
    bottom: 0;
    transition: .1s ease-out;
}
  
.chatbox-top {
    position: relative;
    display: flex;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, .05);
}
  
.chatbox-icons {
    padding: 0 10px 0 0;
    display: flex;
    position: relative;
}
  
.chatbox-icons .fa {
    background: rgba(220, 0, 0, .6);
    padding: 3px 5px;
    margin: 0 0 0 3px;
    color: white;
    border-radius: 0 5px 0 5px;
    transition: 0.3s;
}
  
.chatbox-icons .fa:hover {
    border-radius: 5px 0 5px 0;
    background: rgba(220, 0, 0, 1);
}
  
.chatbox-icons a, .chatbox-icons a:link, .chatbox-icons a:visited {
    color: white;
}
  
.chat-partner-name, .chat-group-name {
    flex: 1;
    padding: 0 0 0 95px;
    font-size: 15px;
    font-weight: bold;
    color: #30649c;
    text-shadow: 1px 1px 0 white;
    transition: .1s ease-out;
}
  
.chatbox-avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    padding: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    position: absolute;
    transition: .1s ease-out;
    bottom: 0;
    left: 6px;
}
  
.chatbox-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
  
.chat-messages {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 1;
}
  
.message-box-holder {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
  
.message-sender {
    font-size: 12px;
    margin: 0 0 15px;
    color: #30649c;
    align-self: flex-start;
}
  
.message-sender a, .message-sender a:link, .message-sender a:visited, .chat-partner-name a, .chat-partner-name a:link, .chat-partner-name a:visited {
    color: #30649c;
    text-decoration: none;
}
  
.message-box {
    padding: 6px 10px;
    border-radius: 6px 0 6px 0;
    position: relative;
    background: rgba(100, 170, 0, .1);
    border: 2px solid rgba(100, 170, 0, .1);
    color: #6c6c6c;
    font-size: 12px;
}
  
.message-box:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid rgba(100, 170, 0, .2);
    border-right: none;
    bottom: -22px;
    right: 10px;
}
  
.message-partner {
    background: rgba(0, 114, 135, .1);
    border: 2px solid rgba(0, 114, 135, .1);
    align-self: flex-start;
}
  
.message-partner:after {
    right: auto;
    bottom: auto;
    top: -22px;
    left: 9px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 114, 135, .2);
    border-left: none;
}
  
.chat-input-holder {
    border-top: 1px solid rgba(0, 0, 0, .1);
}
  
.chat-input {
    resize: none;
    padding: 5px 10px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #999999;
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
  
.chat-input:focus, .message-send:focus {
    outline: none;
}
  
.message-send::-moz-focus-inner {
    border:0;
    padding:0;
}
  
.message-send {
    -webkit-appearance: none;
    background: #9cc900;
    background: -moz-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -webkit-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -o-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -ms-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: linear-gradient(180deg, #00d8ff, #00b5d6);
    color: white;
    font-size: 12px;
    padding: 0 15px;
    border: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
  
.attachment-panel {
    padding: 3px 10px;
    text-align: right;
}
  
.attachment-panel a, .attachment-panel a:link, .attachment-panel a:visited {
    margin: 0 0 0 7px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
  
.chatbox-avatar {
    width: 60px;
    height: 60px;
}
  
.chat-partner-name, .chat-group-name {
    padding: 0 0 0 75px;
}